@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #fdfdfd;
}

.wrapper{
/*     background-color: red; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
/*     background-color: red; */
    height: 400px;
    display: flex;
    /* pour aue les element ne retourne pas a la ligne */
    flex-wrap: nowrap;
    justify-content: start;
}

.card{
    width: 80px;
    border-radius: 2rem;
    background-size: cover;
    cursor: pointer;
    /* pourque les elemet ne le depasse pas */
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, 0.99);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);

}
/* Ajouter une  image en CSS */
.card[for="c1"]{
    background-image: url(img1.jpg);
}
.card[for="c2"]{
    background-image: url(img2.jpg);
}
.card[for="c3"]{
    background-image: url(img3.jpg);
}
.card[for="c4"]{
    background-image: url(img4.jpg);
}

.row{
    color: #fff;
    display: flex;
}

/* Ce qui ce passe quqnt on clique sur le boutton */
input:checked + label{
    width: 600px;
}

.icon{
    background-color: #ad222a;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

input{
    display: none;
}

.description{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    /* Pous les element ne puisse pas depasse description */
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(40px);
    transition-delay: .3s;
    transition: all .3s ease;
}

input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}

input:checked + label .row{
    backdrop-filter: blur(5px);
}

h4{
    text-transform: uppercase;
}